In [1]:
import pandas as pd

In [2]:
data = {
    "order_id": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "product_name": [
        "Laptop",
        "Smartphone",
        "Laptop",
        "Tablet",
        "Smartphone",
        "Tablet",
        "Smartwatch",
        "Laptop",
        "Headphones",
        "Smartwatch",
    ],
    "category": [
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Electronics",
        "Wearables",
        "Electronics",
        "Accessories",
        "Wearables",
    ],
    "customer_region": [
        "North",
        "South",
        "East",
        "North",
        "West",
        "South",
        "East",
        "West",
        "North",
        "West",
    ],
    "sales": [1200, 800, 1500, 500, 850, 400, 300, 1300, 150, 350],
}

df = pd.DataFrame(data)

In [14]:
df

   order_id product_name     category customer_region  sales
0       101       Laptop  Electronics           North   1200
1       102   Smartphone  Electronics           South    800
2       103       Laptop  Electronics            East   1500
3       104       Tablet  Electronics           North    500
4       105   Smartphone  Electronics            West    850
5       106       Tablet  Electronics           South    400
6       107   Smartwatch    Wearables            East    300
7       108       Laptop  Electronics            West   1300
8       109   Headphones  Accessories           North    150
9       110   Smartwatch    Wearables            West    350

#### Знайди `загальну суму` продажів для кожної категорії продукції.

In [9]:
df.groupby("product_name").sales.sum()

product_name
Headphones     150
Laptop        4000
Smartphone    1650
Smartwatch     650
Tablet         900
Name: sales, dtype: int64

#### Знайди середні продажі по `кожному регіону`. Відсортуй результати у `порядку спадання`.

In [11]:
df.groupby('customer_region').sales.sum().sort_values(ascending=False)

customer_region
West     2500
North    1850
East     1800
South    1200
Name: sales, dtype: int64

#### Знайди `середні` продажі по кожному продукту в `розрізі регіонів`.

In [16]:
df.groupby(['customer_region', 'product_name']).sales.mean()

customer_region  product_name
East             Laptop          1500.0
                 Smartwatch       300.0
North            Headphones       150.0
                 Laptop          1200.0
                 Tablet           500.0
South            Smartphone       800.0
                 Tablet           400.0
West             Laptop          1300.0
                 Smartphone       850.0
                 Smartwatch       350.0
Name: sales, dtype: float64

#### Знайди `максимальні` та `мінімальні` продажі у кожному регіоні.

In [18]:
df.groupby('customer_region').sales.agg(['max', 'min'])

                  max  min
customer_region
East             1500  300
North            1200  150
South             800  400
West             1300  350