In [ ]:

from google.colab import drive

In [2]:
import pandas as pd

In [ ]:
drive.mount("/content/drive")
%cd /content/drive/MyDrive/ma

In [3]:
sales_data = pd.read_csv('sales_data_updated.csv')

#### Виведи перші 5 рядків датасету.

In [4]:
sales_data.head()

,order_date,time,aging,customer_id,gender,device_type,customer_login_type,product_category,product,sales,quantity,discount,profit,shipping_cost,order_priority,payment_method
0,2018-01-01,10:11:40,5.0,29317,Male,Web,Member,Auto & Accessories,Car Media Players,140.0,4.0,0.3,43.2,4.3,Medium,e_wallet
1,2018-01-01,22:30:44,7.0,42270,Male,Web,Member,Auto & Accessories,Car Pillow & Neck Rest,231.0,5.0,0.1,139.5,13.9,High,money_order
2,2018-01-01,21:55:31,10.0,14563,Male,Web,Member,Auto & Accessories,Car Speakers,211.0,5.0,0.1,120.5,12.0,High,credit_card
3,2018-01-01,13:57:15,9.0,58601,Male,Web,Member,Auto & Accessories,Tyre,250.0,4.0,0.2,150.0,15.0,Critical,credit_card
4,2018-01-01,15:17:41,2.0,48342,Male,Web,Member,Auto & Accessories,Tyre,250.0,1.0,0.1,165.0,16.5,High,credit_card

#### Створи окремий датасет під назвою sales_numeric зі стовпців sales, quantity, discount, profit та shipping_cost.

In [8]:
sales_numeric = sales_data.loc[:, ['sales', 'quantity', 'discount', 'profit', 'shipping_cost']]

In [36]:
sales_numeric.head()

   sales  quantity  discount  profit  shipping_cost
0  140.0       4.0       0.3    43.2            4.3
1  231.0       5.0       0.1   139.5           13.9
2  211.0       5.0       0.1   120.5           12.0
3  250.0       4.0       0.2   150.0           15.0
4  250.0       1.0       0.1   165.0           16.5

#### Створи окремий датасет під назвою _sales_categorical_ зі стовпців `customer_id`, gender, product_category, product та payment_method. Використай перші 100 рядків вхідного датасету.

In [31]:
sales_categorical = sales_data.iloc[:100].loc[:, ['customer_id', 'gender', 'product_category', 'product', 'payment_method']]

In [32]:
sales_categorical.index.size

100

In [35]:
sales_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customer_id       100 non-null    int64
 1   gender            100 non-null    object
 2   product_category  100 non-null    object
 3   product           100 non-null    object
 4   payment_method    100 non-null    object
dtypes: int64(1), object(4)
memory usage: 4.0+ KB