In [17]:
import pandas as pd

In [18]:
book_data = {
    "book_id": [201, 202, 203, 204, 205],
    "title": ["Python for Beginners", "Data Science with Python", "Advanced Python Programming", "Learning SQL", "Python for Data Analysis"],
    "author": ["John Doe", "Jane Smith", "John Doe", "Alice Johnson", "Jane Smith"],
    "price": [250, 300, 150, 180, 280],
    "copies_sold": [150, 200, 100, 90, 300]
}

books_df = pd.DataFrame(book_data)

#### Використай фільтрацію, щоб знайти всі книги, ціна яких більше ніж `200`.

In [19]:
# Використай фільтрацію, щоб знайти всі книги, ціна яких більше ніж 200.
books_df[books_df.price > 200]

   book_id                     title      author  price  copies_sold
0      201      Python for Beginners    John Doe    250          150
1      202  Data Science with Python  Jane Smith    300          200
4      205  Python for Data Analysis  Jane Smith    280          300

#### Знайди книги, ціна яких не перевищує `200`, а кількість проданих копій більше або дорівнює `100`. Окремо знайди `кількість` таких книг.

In [20]:
# Знайди книги, ціна яких не перевищує 200, а кількість проданих копій більше або дорівнює 100. Окремо знайди кількість таких книг.
books_df[(books_df.price <= 200) & (books_df.copies_sold >= 100)]
books_df[(books_df.price <= 200) & (books_df.copies_sold >= 100)].index.size

1

#### Знайди всі книги, написані `John Doe` та `Jane Smith`.

In [21]:
# Знайди всі книги, написані John Doe та Jane Smith.
books_df[books_df.author.isin(['John Doe', 'Jane Smith'])]

   book_id                        title      author  price  copies_sold
0      201         Python for Beginners    John Doe    250          150
1      202     Data Science with Python  Jane Smith    300          200
2      203  Advanced Python Programming    John Doe    150          100
4      205     Python for Data Analysis  Jane Smith    280          300

#### Вибери всі книги, у назві яких є слово `Python`

In [22]:
# Вибери всі книги, у назві яких є слово "Python"
books_df[books_df.title.str.contains('Python')]

   book_id                        title      author  price  copies_sold
0      201         Python for Beginners    John Doe    250          150
1      202     Data Science with Python  Jane Smith    300          200
2      203  Advanced Python Programming    John Doe    150          100
4      205     Python for Data Analysis  Jane Smith    280          300