In [ ]:
from google.colab import drive

In [1]:
import pandas as pd

In [ ]:
drive.mount("/content/drive")
%cd /content/drive/MyDrive/ma

In [2]:
sales_data = pd.read_csv('sales_data_updated.csv')

In [3]:
sales_data.head()

,order_date,time,aging,customer_id,gender,device_type,customer_login_type,product_category,product,sales,quantity,discount,profit,shipping_cost,order_priority,payment_method
0,2018-01-01,10:11:40,5.0,29317,Male,Web,Member,Auto & Accessories,Car Media Players,140.0,4.0,0.3,43.2,4.3,Medium,e_wallet
1,2018-01-01,22:30:44,7.0,42270,Male,Web,Member,Auto & Accessories,Car Pillow & Neck Rest,231.0,5.0,0.1,139.5,13.9,High,money_order
2,2018-01-01,21:55:31,10.0,14563,Male,Web,Member,Auto & Accessories,Car Speakers,211.0,5.0,0.1,120.5,12.0,High,credit_card
3,2018-01-01,13:57:15,9.0,58601,Male,Web,Member,Auto & Accessories,Tyre,250.0,4.0,0.2,150.0,15.0,Critical,credit_card
4,2018-01-01,15:17:41,2.0,48342,Male,Web,Member,Auto & Accessories,Tyre,250.0,1.0,0.1,165.0,16.5,High,credit_card

## Перетворення даних

In [15]:
sales_data['order_date'] = pd.to_datetime(sales_data['order_date'], format='%Y-%m-%d')

In [16]:
sales_data['order_date'].dtype

dtype('<M8[ns]')

In [18]:
sales_data.drop('time', axis=1, inplace=True)

In [40]:
sales_data.columns.isin(['time']).any()

np.False_

In [23]:
sales_data['sales_amount'] = sales_data['sales'] * sales_data['quantity']

In [24]:
sales_data.head()

,order_date,aging,customer_id,gender,device_type,customer_login_type,product_category,product,sales,quantity,discount,profit,shipping_cost,order_priority,payment_method,sales_amount
0,2018-01-01,5.0,29317,Male,Web,Member,Auto & Accessories,Car Media Players,140.0,4.0,0.3,43.2,4.3,Medium,e_wallet,560.0
1,2018-01-01,7.0,42270,Male,Web,Member,Auto & Accessories,Car Pillow & Neck Rest,231.0,5.0,0.1,139.5,13.9,High,money_order,1155.0
2,2018-01-01,10.0,14563,Male,Web,Member,Auto & Accessories,Car Speakers,211.0,5.0,0.1,120.5,12.0,High,credit_card,1055.0
3,2018-01-01,9.0,58601,Male,Web,Member,Auto & Accessories,Tyre,250.0,4.0,0.2,150.0,15.0,Critical,credit_card,1000.0
4,2018-01-01,2.0,48342,Male,Web,Member,Auto & Accessories,Tyre,250.0,1.0,0.1,165.0,16.5,High,credit_card,250.0

In [28]:
sales_data["gender"] = sales_data["gender"].apply(lambda x: "F" if str(x).lower().startswith("f") else "M")

In [35]:
sales_data["gender"] = sales_data["gender"].astype("category")

In [37]:
sales_data["gender"].cat.categories

Index(['F', 'M'], dtype='object')

In [42]:
sales_data.columns.str.islower().all()

np.True_

## Описова аналілика

In [47]:
f'Max amount of sales: ${sales_data["sales_amount"].max()}'

'Max amount of sales: $1250.0'

In [48]:
f'Min amount of sales: ${sales_data["sales_amount"].min()}'

'Min amount of sales: $33.0'

In [49]:
f'Sum of sales: ${sales_data["sales_amount"].sum()}'

'Sum of sales: $19635960.0'

In [50]:
f'Mean of sales: ${sales_data["sales_amount"].mean()}'

'Mean of sales: $382.86427359759784'

In [51]:
f'Median of sales: ${sales_data["sales_amount"].median()}'

'Median of sales: $248.0'

In [53]:
f'Amount of categories: {sales_data["product_category"].nunique()}'

'Amount of categories: 4'

#### Categories popularity

In [56]:
sales_data["product_category"].value_counts()

product_category
Fashion               25646
Home & Furniture      15438
Auto & Accessories     7505
Electronic             2701
Name: count, dtype: int64

#### Top 5 products

In [90]:
product_counts = sales_data["product"].value_counts()
product_ranks = product_counts.rank(ascending=False, method="min")

In [93]:
product_counts[product_ranks <= 5]

product
T - Shirts      2332
Suits           2332
Jeans           2332
Shirts          2332
Fossil Watch    2332
Name: count, dtype: int64

#### Which gender buys more frequently — **Male**

In [95]:
sales_data['gender'].value_counts()

gender
M    28138
F    23152
Name: count, dtype: int64

#### The most popular payment method — **credit_card**

In [110]:
method_counts = sales_data['payment_method'].value_counts()
method_ranks = method_counts.rank(ascending=False, method='min')

In [111]:
method_counts[method_ranks == 1]

payment_method
credit_card    38137
Name: count, dtype: int64