In [104]:
import pandas as pd

In [105]:
data = {
    "order_id": [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    "customer_name": ["Alice", "Bob", None, "David", "Eva", "Frank", None],
    "product_category": ["Electronics", "Clothing", "Electronics", "Books", None, "Clothing", "Books"],
    "quantity": [2, 1, None, 1, 3, None, 4],
    "unit_price": [299.99, 49.99, 199.99, None, 15.99, 79.99, 12.99],
    "order_date": ["2024-08-01", "2024-08-02", "2024-08-03", "2024-08-04", "2024-08-05", "2024-08-06", None]
}

df = pd.DataFrame(data)

In [106]:
df.isna().sum()

order_id            0
customer_name       2
product_category    1
quantity            2
unit_price          1
order_date          1
dtype: int64

In [107]:
df.isna().sum(axis=1)

0    0
1    0
2    2
3    1
4    1
5    1
6    2
dtype: int64

#### Знайди відсоток пропущених значень у кожному рядку та стовпчику. Чи є такі рядки або стовпчики, в яких доля пропусків більше ніж 50%? Якщо так, видали їх з датасету.

In [138]:
# drop rows with missing values
nan_in_rows = df.isna().sum(axis=1) / df.shape[1] * 100
df = df[nan_in_rows < 50]

In [139]:
# drop columns with missing values
nan_in_columns = df.isna().sum() / df.shape[0] * 100
df.drop(df.columns[nan_in_columns > 50], axis=1, inplace=True)

#### Заповни пропущені значення в стовпці customer_name рядком "Unknown". Збережи отриманий результат у цьому ж стовпчику.

In [118]:
df.loc[:, 'customer_name'].fillna('Unknown', inplace=True)
df.loc[:, 'customer_name']

0      Alice
1        Bob
2    Unknown
3      David
4        Eva
5      Frank
6    Unknown
Name: customer_name, dtype: object

#### Заповни пропущені значення в стовпці product_category рядком "Miscellaneous". Збережи отриманий результат у цьому ж стовпчику

In [119]:
df.loc[:, 'product_category'].fillna('Miscellaneous', inplace=True)
df.loc[:, 'product_category']

0      Electronics
1         Clothing
2      Electronics
3            Books
4    Miscellaneous
5         Clothing
6            Books
Name: product_category, dtype: object

#### Заповни пропущені значення в стовпцях quantity та unit_price середнім значенням відповідного стовпця. Збережи отриманий результат у цьому ж стовпчику.

In [130]:
df['quantity'].fillna(df['quantity'].mean(), inplace=True)
df['quantity']

0    2.0
1    1.0
2    2.2
3    1.0
4    3.0
5    2.2
6    4.0
Name: quantity, dtype: float64

In [132]:
df['unit_price'].fillna(df['unit_price'].mean(), inplace=True)
df['unit_price']

0    299.990000
1     49.990000
2    199.990000
3    109.823333
4     15.990000
5     79.990000
6     12.990000
Name: unit_price, dtype: float64

#### Заповни пропущені значення в стовпці order_date останньою відомою датою замовлення. Збережи отриманий результат у цьому ж стовпчику.

In [137]:
df.loc[:, 'order_date'].ffill(inplace=True)
df.loc[:, 'order_date']

0    2024-08-01
1    2024-08-02
2    2024-08-03
3    2024-08-04
4    2024-08-05
5    2024-08-06
6    2024-08-06
Name: order_date, dtype: object